.menu-item {
    /* display: inline; */
    color: black;
}

body {
    color: white;
    background-image: url('chrome-extension://__MSG_@@ebcdlciackjgklndjjnkmohlamhkbgfi/images/background2.png');
    background-size: cover;
}


.bottom-navbar {
    display: flex;
    justify-content: space-between;
    background-color: #FFD54F;
}

.cs-text {
    font-weight: bolder;
    font-size: 2rem;
    text-transform: uppercase;
}

